// out: style.css

// fonts package (google fonts)
@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Nunito:300,600,800|Work+Sans&display=swap');

// fonts setup
@muli: "Muli";
@nunito: "Nunito";
@work-sans: "Work Sans";

// color setup
@header: rgb(86, 114, 130);
@dback: rgb(24, 24, 24);
@contrast: rgb(50, 130, 150);
@white: rgb(200, 200, 200);
@green: rgb(109, 238, 174);
@red: rgb(202, 96, 113);
@yellow: rgb(202, 179, 96);

// padrão para botões (PREENCHIMENTO)
@button-background: linear-gradient(lighten(@contrast, 20%), @contrast);
// padrão para botões (BORDA)
@button-border: 1px solid darken(@contrast, 10%); 

* {
  padding: 0;
  margin: 0 auto;
}
body {
  font-size: 10px;
  font-family: sans-serif;
}
// ========== //
// CSS.MOBILE //
// ========== //
@media only screen and (max-width: 1000px) {
  div#content {
    header {
      text-align: center;
      width: 100%;
        h1 {
          background: @dback;
          color: white;
          font-size: 5em;
          font-family: @nunito;
          padding: .5em 0;
            a:link, a:visited {
              color: white;
              text-decoration: none;
            }
        }
    }
    nav {
      background: lighten(black, 25%);
      display: none;
      font-size: 2em;
      text-align: center;
        li:nth-child(1), :nth-child(3), :nth-child(5) {
          border-top: @button-border;
          border-bottom: @button-border;
        }
        li {
          background: @button-background;
          padding: .5em 0;
            a {
              font-family: @nunito;
              font-weight: bold;
              font-size: 0.7em;
            }
            a:link {
              color: white;
              text-decoration: none;
            }
            a:visited {
              color: white;
            }
        }
    }
    section {
      padding: 2em 0;
      //background: linear-gradient(90deg, #fff, #ccc, #fff);
      background: radial-gradient(#fff, #eee);
      text-align: center;
    }
    #infoMessage {
      background: linear-gradient(lighten(@yellow, 10%), @yellow);
      padding: 1em;
      margin: 1em;
      border: 1px solid @yellow;
      border-radius: 4px;
      color: darken(@yellow, 30%);
      font-size: 1.6em;
      font-weight: bold;
      font-family: @nunito;
    }
    #errorMessage {
      background: linear-gradient(lighten(@red, 10%), @red);
      padding: 1em;
      margin: 1em;
      border: 1px solid @red;
      border-radius: 4px;
      color: darken(@red, 30%);
      font-size: 1.6em;
      font-weight: bold;
      font-family: @nunito;
    }
    #successMessage {
      background: linear-gradient(lighten(@green, 10%), @green);
      padding: 1em;
      margin: 1em;
      border: 1px solid @green;
      border-radius: 4px;
      color: darken(@green, 30%);
      font-size: 1.6em;
      font-weight: bold;
      font-family: @nunito;
    }
    
    form {
      margin: 1em 1em;
      text-align: center;
        fieldset {
          text-align: left;
          padding: 1em;
            legend {
              font-size: 2em;
              padding: 0 .5em;
            }
            label {
              font-size: 1.8em;
            }
            input, select {
              padding: .2em;
              font-size: 2.2em;
            }
            input[type=tel]:nth-child(odd){
              width: 2em;
            }
            input[type=tel]:nth-child(even){
              width: 8em;
            }
        } // fecha fieldset
        input[type=button], input[type=submit] {
          background: @button-background;
          border: @button-border;
          padding: .8em;
          font-size: 1.6em;
          font-weight: bold;
          color: white;
          margin: .5em;
        } // fecha inputs de botões
    } // fecha form
    hr {
      margin: 1em 0;
      border: 1px solid #eee;
    }
    h4 {
      text-align: center;
      font-family: @nunito;
      font-size: 1.6em;
    }
    table {
      width: 100%;
      padding: 2%;
      font-size: 1.2em;
      font-family: @muli;
        thead {
          td {
            background: @button-background;
            color: #fff;
          }
          td {
            padding: .5em; 
          }
        }
        input {
          font-family: @muli;
          font-size: 1em;
          padding: .5em 1em;
          border: none;
          background: none;
          color: @contrast;
          font-weight: 600;
          text-decoration: underline;
        }
    }
    footer {
      background: linear-gradient(#333, #111);
      padding: 3em 0;
      text-align: center;   
      font-family: @nunito;
      color: white;
      font-size: 1.5em;
      font-weight: bold;
    } // fecha footer
  } // fecha div content
} // fecha media query

// =========== //
// CSS.DESKTOP //
// =========== //
@media only screen and (min-width: 1001px) {
  body {
    font-size: 10px;
  }
  div#content {
    width: 100%;
      header {
        padding: 2em 0;
        font-family: @nunito;
        color: white;
        background: @dback;
        width: 100%;
        text-align: center;
          h1 {
            font-size: 5em;
          }
          span {
            display: none;
          }
      }
      nav {
        background: @button-background;
        padding: 1em 0;
        font-family: @nunito;
        text-align: center;
          li {
            display: inline;
            padding: 1em 2.5em;
              a, a:link {
                color: white;
                font-size: 1.6em;
                font-weight: 600;
                text-decoration: none;
              }
              a:hover {
                color: #eee;
              }
          }
      }
      section {
        width: 100%;
        padding: 1em 0;
        text-align: center;
        font-size: 2em;
      }
      #infoMessage {
        background: linear-gradient(lighten(@yellow, 10%), @yellow);
        padding: 1em;
        margin: 1em;
        border: 1px solid @yellow;
        border-radius: 4px;
        color: darken(@yellow, 30%);
        font-size: 1.6em;
        font-weight: bold;
        font-family: @nunito;
      }
      #errorMessage {
        background: linear-gradient(lighten(@red, 10%), @red);
        padding: 1em;
        margin: 1em;
        border: 1px solid @red;
        border-radius: 4px;
        color: darken(@red, 30%);
        font-size: 1.6em;
        font-weight: bold;
        font-family: @nunito;
      }
      #successMessage {
        background: linear-gradient(lighten(@green, 10%), @green);
        padding: 1em;
        margin: 1em;
        border: 1px solid @green;
        border-radius: 4px;
        color: darken(@green, 30%);
        font-size: 1.6em;
        font-weight: bold;
        font-family: @nunito;
      }
      form {
        padding: 2%;
        text-align: center;
          fieldset {
            text-align: left;
            border: 1px solid #ccc;
            margin-bottom: 1em;
            padding: 1%;
              legend {
                font-size: 2em;
                padding: 0 .4em;
              }
              label {
                font-size: 1.5em;
              }
              input[type=text], select, input[type=date], input[type=email], input[type=tel] {
                font-size: 1.4em;
                padding: .2em;
              }
              input[type=tel]:nth-child(odd) {
                width: 40px;
              }   
          }
        input[type=submit], input[type=button] {
          font-family: @nunito;
          background: @button-background;
          border: @button-border;
          padding: .8em;
          font-size: 1.6em;
          font-weight: 600;
          color: white;
          margin: .5em;
        }
        input[type=submit]:hover , input[type=button]:hover {
          background: @contrast;
        }
      }
      hr {
        margin: 20px 0;
        border: 1px solid #ccc;
      }
      h2, h4 {
        font-family: @nunito;
        color: @dback;
        font-size: 1.5em;
        text-align: center;
      }
      table {
        padding: 30px;
          thead {
              td {
                background: @button-background;
                color: white;
              }
          }
          td {
            padding: 5px 10px;
              input[type=button], input[type=submit], button {
                font-family: @nunito;
                color: #fff;
                font-weight: 600;
                padding: .4em 1em;
                background: @button-background;
                border: @button-border;
              }
              input[type=button]:hover, input[type=submit]:hover, button:hover {
                background: @contrast;
              }
          }
          tr:nth-child(odd) {
            background: #ddd;
          }
          tr:nth-child(even) {
            background: #fff;
          }
      }
      footer {
        background: linear-gradient(#333, #111);
        padding: 3em 0;
        text-align: center;
        font-family: @nunito;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
      }
  }
}